body{
	background-color: black;
	color: white;
	font-family: 'Long Pixel-7', sans-serif;
}
div{
	position: relative;
}
video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h1{
	background: black;
	font-size: 150px;
	text-align: center;
	font-weight: 400;
	mix-blend-mode: multiply;
}